.menuBox {
  @include flex-c;
  align-items: center;
  background-color: $primary-color;
  -webkit-app-region: drag;
  height: 100%;
  position: relative;
  z-index: 900;
  .mitem {
    @include flex-c;
    -webkit-app-region: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    color: #E6E6E6;
    margin-bottom: 5px;
    position: relative;
    .micon {
      margin-bottom: 5px;
    }
    &:hover {
      background: #396FCD;
      color: #FFFFFF;
      border-radius: 10px;
    }
  }
  .active {
    background: #396FCD;
    color: #FFFFFF;
    border-radius: 10px;
  }
  .msgBox {
    display: block;
    position: absolute;
    top: 4px;
    right: 6px;
    min-width: 14px;
    line-height: 14px;
    text-align: center;
    background: #FF4D4F;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
  }
}
