.complexPickerPopup {
  width: 100%;
  padding: 0 16px;
  .dpimgBox {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eef4ff;
    border-radius: 4px;
  }
  .depaImgBox {
    img {
      margin-top: -4px;
    }
  }
  .userImgBox {
    color: #fff;
    font-size: 14px;
    background-color: #5290fd !important;
  }

  .departmentBox {
    width: 100%;
    height: 435px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    overflow: hidden;
    @include flex-r;
  }
  .personnelListBox {
    width: 50%;
    @include flex-c;
    .searchBox {
      margin: 12px 0;
      padding: 0 12px;
    }
    .breadcrumbBox {
      padding: 0 17px 8px 17px;
    }
    .pickerListBox {
      flex: 1;
      padding: 0 10px 8px 10px;
      overflow-y: auto;
      .dpTreenode {
        height: 50px;
      }
      .btnNode {
        position: absolute;
        right: 0;
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        color: #5290FD;
      }
      .nodeTitle {
        padding-left: 8px;
        color: #323233;
      }
      .checkbox {
        color: #8a8a99;
        margin: 2px 8px 0 0;
        cursor: pointer;
        &:hover {
          color: #5290FD;
        }
      }
    }
    .noData {
      font-size: 14px;
      text-align: center;
      padding: 15px 0;
    }
  }
  .selectedBox {
    border-left: 1px solid #E6E6E6;
    width: 50%;
    @include flex-c;
    .kcqm {
      padding: 18px 12px;
      font-size: 16px;
      color: #323233;
    }
    .selectedList {
      flex: 1;
      padding: 0 12px 8px 12px;
      overflow-y: auto;
      .llJcti {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
        position: relative;
        font-size: 16px;
        padding: 0 10px;
        .info {
          @include flex-c;
          padding-left: 8px;
          .name {
            font-size: 14px;
            color: #323233;
          }
          .depr{
            margin-top: -2px;
            font-size: 12px;
            color: #8A8A99;
          }
        }
        .close {
          width: 24px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          position: absolute;
          right: 14px;
          top: 14px;
          cursor: pointer;
          &:hover {
            color: #5290FD;
          }
        }
        &:hover {
          border-radius: 5px;
          background-color: rgba(126,134,142,0.12);
        }
      }
    }
    .noSelectedData {
      padding: 20px 0;
      text-align: center;
      font-size: 14px;
    }
  }
  :global {
    .ant-input-affix-wrapper {
      border-radius: 5px;
    }
  }
}
.limitTips {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 14px;
  color: #000000d9;
  padding: 10px 16px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
}
