@font-face {
  font-family: "yp-font-icon"; /* Project id 3337845 */
  src: url('iconfont.woff?t=1656316814885') format('woff');
}

.yp-font-icon {
  font-family: "yp-font-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yp-shuaxin:before {
  content: "\e782";
}

.yp-zuidahua:before {
  content: "\e690";
}

.yp-zuixiaohua:before {
  content: "\e691";
}

.yp-zuidahua1:before {
  content: "\e693";
}

.yp-xiangzuojiantou:before {
  content: "\e68e";
}

.yp-zuojiantou:before {
  content: "\e692";
}

.yp-zuojiantou1:before {
  content: "\e68f";
}

.yp-More:before {
  content: "\e680";
}

.yp-bangzhu:before {
  content: "\e67b";
}

.yp-kefu1:before {
  content: "\e67c";
}

.yp-jigong2:before {
  content: "\e629";
}

.yp-jigong4:before {
  content: "\e66c";
}

.yp-jigong3:before {
  content: "\e66f";
}

.yp-jigong:before {
  content: "\e677";
}

.yp-gou:before {
  content: "\e601";
}

.yp-diangongtongji:before {
  content: "\e62f";
}

.yp-gongyingshang:before {
  content: "\e630";
}

.yp-xiangmujingyingfenxi:before {
  content: "\e631";
}

.yp-jichuziliao:before {
  content: "\e633";
}

.yp-kehu:before {
  content: "\e653";
}

.yp-kehuzhangkuan:before {
  content: "\e654";
}

.yp-cailiaokucun:before {
  content: "\e661";
}

.yp-chukudan:before {
  content: "\e662";
}

.yp-tuihuodan:before {
  content: "\e663";
}

.yp-neibudanwei:before {
  content: "\e664";
}

.yp-xinchoutongji:before {
  content: "\e665";
}

.yp-gongyingshangzhangkuan:before {
  content: "\e667";
}

.yp-tiaobodan:before {
  content: "\e668";
}

.yp-rukudan:before {
  content: "\e66a";
}

.yp-cailiaojiesuandan:before {
  content: "\e66b";
}

.yp-bangzhushouce:before {
  content: "\e62b";
}

.yp-baoxiao:before {
  content: "\e62c";
}

.yp-butie:before {
  content: "\e62d";
}

.yp-daochubaobiao:before {
  content: "\e632";
}

.yp-duizhang:before {
  content: "\e634";
}

.yp-erweima:before {
  content: "\e635";
}

.yp-dianhua:before {
  content: "\e636";
}

.yp-gongchengkuan:before {
  content: "\e637";
}

.yp-gongyou:before {
  content: "\e638";
}

.yp-gongyouguanli:before {
  content: "\e639";
}

.yp-gongzifafang:before {
  content: "\e63a";
}

.yp-gongzi:before {
  content: "\e63b";
}

.yp-gongzuotai:before {
  content: "\e63c";
}

.yp-huifu:before {
  content: "\e641";
}

.yp-gongzishouru:before {
  content: "\e64d";
}

.yp-hongbao:before {
  content: "\e64e";
}

.yp-changgui:before {
  content: "\e64f";
}

.yp-jigongliushui:before {
  content: "\e651";
}

.yp-jigongbaobiao:before {
  content: "\e652";
}

.yp-kaoqindaka:before {
  content: "\e655";
}

.yp-jiekuan:before {
  content: "\e657";
}

.yp-kefu:before {
  content: "\e658";
}

.yp-jiezhifafang:before {
  content: "\e65a";
}

.yp-qita:before {
  content: "\e65b";
}

.yp-qianbao:before {
  content: "\e65c";
}

.yp-liwu:before {
  content: "\e65d";
}

.yp-a-liwu2:before {
  content: "\e65e";
}

.yp-jiezhishouru:before {
  content: "\e65f";
}

.yp-renwuxiafa:before {
  content: "\e660";
}

.yp-shibai:before {
  content: "\e669";
}

.yp-tishi:before {
  content: "\e66d";
}

.yp-a-tongji2:before {
  content: "\e66e";
}

.yp-shoukuan:before {
  content: "\e670";
}

.yp-tongji:before {
  content: "\e671";
}

.yp-tupian:before {
  content: "\e672";
}

.yp-tixing:before {
  content: "\e673";
}

.yp-tuandui:before {
  content: "\e674";
}

.yp-tongzhigonggao:before {
  content: "\e675";
}

.yp-xialasanjiao:before {
  content: "\e676";
}

.yp-xiangji:before {
  content: "\e678";
}

.yp-wode:before {
  content: "\e679";
}

.yp-xiazai:before {
  content: "\e67a";
}

.yp-tuikuan:before {
  content: "\e67d";
}

.yp-weijiegongzi:before {
  content: "\e67e";
}

.yp-xinjianzhangben:before {
  content: "\e67f";
}

.yp-yijianfankui:before {
  content: "\e681";
}

.yp-xiangmushenhe:before {
  content: "\e682";
}

.yp-yibanzhichu:before {
  content: "\e683";
}

.yp-xiangmushezhi:before {
  content: "\e684";
}

.yp-xiangmuchengyuan:before {
  content: "\e685";
}

.yp-yule:before {
  content: "\e686";
}

.yp-yinliang:before {
  content: "\e687";
}

.yp-yinpin:before {
  content: "\e688";
}

.yp-zhiding:before {
  content: "\e689";
}

.yp-zhangben:before {
  content: "\e68a";
}

.yp-yusuan:before {
  content: "\e68b";
}

.yp-zhuanmai:before {
  content: "\e68c";
}

.yp-zhuanzhang:before {
  content: "\e68d";
}

.yp-a-iconmianxiangmushenhe:before {
  content: "\e62a";
}

.yp-fukuanshenqing:before {
  content: "\e609";
}

.yp-anquanjiancha:before {
  content: "\e60b";
}

.yp-qianzheng:before {
  content: "\e60c";
}

.yp-jinduguanli:before {
  content: "\e60d";
}

.yp-kaipiaoshenqing:before {
  content: "\e60e";
}

.yp-baozhengjindengji:before {
  content: "\e60f";
}

.yp-renwuguanli:before {
  content: "\e610";
}

.yp-xiangmu:before {
  content: "\e611";
}

.yp-ribao:before {
  content: "\e612";
}

.yp-caigoudingdan:before {
  content: "\e613";
}

.yp-hetongzhihangdan:before {
  content: "\e614";
}

.yp-zhiliangjiancha:before {
  content: "\e615";
}

.yp-wendang:before {
  content: "\e616";
}

.yp-jinxiangfapiao:before {
  content: "\e617";
}

.yp-yuebao:before {
  content: "\e618";
}

.yp-fukuandengji:before {
  content: "\e619";
}

.yp-zhoubao:before {
  content: "\e61a";
}

.yp-xiaoxiangfapiao:before {
  content: "\e61b";
}

.yp-xiangmuqichu:before {
  content: "\e61d";
}

.yp-shoukuandengji:before {
  content: "\e61e";
}

.yp-shigongrizhi:before {
  content: "\e61f";
}

.yp-caigoushenqing:before {
  content: "\e620";
}

.yp-yongyinshenqing:before {
  content: "\e621";
}

.yp-hetongjiesuandan:before {
  content: "\e623";
}

.yp-xiangmuqiyusuan:before {
  content: "\e625";
}

.yp-baozhengjinfanhuan:before {
  content: "\e626";
}

.yp-lishijilu:before {
  content: "\e627";
}

.yp-a-gongchengkuan1x:before {
  content: "\e628";
}

.yp-gantanhao-yuankuang:before {
  content: "\e8ec";
}

.yp-a-iconmianweijiegongzi:before {
  content: "\e61c";
}

.yp-a-iconmianweijiegongzi1:before {
  content: "\e622";
}

.yp-a-iconmianweijiegongzi2:before {
  content: "\e624";
}

.yp-a-iconxianjigong:before {
  content: "\e62e";
}

.yp-a-iconmiankefu:before {
  content: "\e608";
}

.yp-a-iconmiangongyou:before {
  content: "\e607";
}

.yp-a-iconmianbangzhushouce:before {
  content: "\e606";
}

.yp-a-iconmianbangzhushouce3:before {
  content: "\e605";
}

.yp-a-iconmianbangzhushouce2:before {
  content: "\e604";
}

.yp-a-iconmianbangzhushouce1:before {
  content: "\e602";
}

.yp-picture:before {
  content: "\e666";
}

.yp-roundclose:before {
  content: "\e659";
}

.yp-success:before {
  content: "\e64c";
}

.yp-edit:before {
  content: "\e648";
}

.yp-collect:before {
  content: "\e649";
}

.yp-time:before {
  content: "\e64a";
}

.yp-delete:before {
  content: "\e64b";
}

.yp-down-fill:before {
  content: "\e603";
}

.yp-close:before {
  content: "\e647";
}

.yp-round-add:before {
  content: "\e646";
}

.yp-multiple-people:before {
  content: "\e645";
}

.yp-site:before {
  content: "\e644";
}

.yp-round-delete:before {
  content: "\e642";
}

.yp-Annex:before {
  content: "\e640";
}

.yp-ImgDel:before {
  content: "\e63f";
}

.yp-img:before {
  content: "\e63e";
}

.yp-arrow:before {
  content: "\e63d";
}

.yp-plus:before {
  content: "\e650";
}

.yp-xuanzhong:before {
  content: "\e656";
}

.yp-search:before {
  content: "\e60a";
}

.yp-filter:before {
  content: "\e643";
}

