.yp-dialog {
  .mask-box {
    position: fixed;
    inset: 0;
    height: 100%;
  }
  .dialog-wrap {
    position: fixed;
    inset: 0;
    overflow: auto;
    outline: 0;
  }

  &-hidden {
    display: none;
  }

  &-enter {
    opacity: 0.01;
    transform: scale(0.2);
  }

  &-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: transform 200ms linear, opacity 200ms linear;
  }

  &-exit {
    display: block;
    opacity: 1;
    transform: scale(1);
  }

  &-exit-active {
    opacity: 0;
    transform: scale(0.2);
    transition: transform 200ms linear, opacity 200ms linear;
  }

  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49%);
    width: auto;
    height: auto;
  }
}
