.card {
  margin: 0 auto;
  width: 260px;
  height: 260px;
  background-color: #fff;
  box-shadow: 0 0 8px #ddd;
  position: relative;
}

.img {
  width: 260px;
  height: 260px;
}

.fail-card {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 0;
  z-index: 10;
  top: 0;
  text-align: center;
  line-height: 70px;
  .err-cont {
    margin-top: 80px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  .refresh-btn {
    color: #fbfbfb;
    text-decoration: none;
    border-radius: 4px;
  }
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fail-mask {
  position: absolute;
  width: 260px;
  height: 260px;
  background: #000;
  filter: alpha(opacity=60);
  opacity: 0.6;
  left: 0;
  z-index: 9;
  top: 0;
}

.login-form-radio {
  margin-top: 15px;
}
