.loginBox {
  height: 100%;
  width: 100%;
  .logindrag {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
  }
}

.login-panel {
  width: 100%;
  height: calc(100% - 50px);
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-bg {
    width: 400px;
    height: 540px;
    margin-right: 60px;

    .bg-img {
      margin-top: 48px;
      margin-left: 38px;
      width: 335px;
      height: 319px;
    }

    .bg-title {
      margin-top: 21px;
      font-size: 28px;
      color: #323233;
      line-height: 40px;
      font-weight: 500;
      text-align: center;
    }
  }

  .login-card {
    width: 400px;
    height: 540px;
    background: #ffffff;
    box-shadow: 0px 6px 12px 0px rgba(115,121,139,0.1000);
    border-radius: 16px;
    padding: 0 24px;
    position: relative;

    .title {
      font-size: 24px;
      font-weight: bold;
      color: #323233;
      line-height: 32px;
    }

    .center {
      display: flex;
      justify-content: center;
    }

    .text {
      font-size: 20px;
      font-weight: 400;
      color: #606066;
      margin-top: 10px;
      margin-bottom: 50px;
    }

    .text-forget {
      font-size: 16px;
      color: #606066;
      font-weight: 400;
      line-height: 22px;
      margin-top: 8px;
      margin-bottom: 57px;
    }

    .text-modify {
      font-size: 18px;
      font-weight: 400;
      color: #606066;
      margin-top: 8px;
    }

    .image {
      width: 70px;
      height: 70px;
      position: absolute;
      right: 8px;
      top: 8px;
      cursor: pointer;

      .icon {
        width: 100%;
        height: 100%;
      }
    }

    .back {
      margin-top: 24px;
      cursor: pointer;
      .back-text {
        font-size: 18px;
        color: #606066;
        margin-left: 4px;
        display: inline-block;
        vertical-align: middle;
      }
      .back-img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
    }

    :global(input.ant-input) {
      height: 48px !important;
      line-height: 48px !important;
      font-size: 16px;
      border-radius: 4px;
    }

    :global(.ant-input-affix-wrapper) {
      padding: 0 11px;
      border-radius: 4px;
    }

    :global(.ant-tabs-tab) {
      padding: 0 0 2px 0;
      font-size: 20px;
      line-height: 28px;
    }

    :global(.ant-tabs-nav) {
      margin: 38px 0 34px 0;
    }

    :global(.ant-tabs-top > .ant-tabs-nav::before) {
      border: 0;
    }

    :global(.ant-form-item) {
      height: 48px;
      margin-bottom: 24px;
    }

    :global(.ant-checkbox-group) {
      text-align: center;
    }

    :global(.ant-checkbox-group span) {
      color: #606066;
      font-size: 16px;
    }
  }

  .space-forget {
    margin-top: 40px;
  }


  .space-modify {
    margin-top: 52px;
  }

  .marginTop85 {
    margin-top: 85px;
  }

  .marginTop42 {
    margin-top: 42px;
  }
}
