.login-form {
  .login-form-button {
    height: 48px;
    line-height: 48px;
    border-radius: 6px;
    padding: 0;
    font-size: 20px;
  }

  .login-form-radio {
    margin-bottom: 8px;
  }

  .first-item {
    // margin-bottom: 22px !important;
  }

  .submit {
    margin-top: 40px;
    margin-bottom: 24px;
  }
}

.text {
  width: 100%;
  color: #606066;
  text-align: right;
  cursor: pointer;
}
